
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow p-3">
        <h2 class="text-center">Number of dishes available</h2>
        <p class="text-center fs-4 pink">{{numDihses}}</p>
        <div class="chart-container">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow p-3">
        <h2 class="text-center">Number of menus available</h2>
        <p class="text-center fs-4 pink"> {{numMenus}}</p>
        <div class="chart-container">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow p-3">
        <h2 class="text-center">Number of registered users</h2>
        <p class="text-center fs-4 pink"> {{numUsers}} </p>
        <div class="chart-container">

        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5 shadow p-3">
     <h1 class="text-center">Current status of time slots</h1>
     <span></span>
      <div class="chart-container">
           <canvas #Chart id="slotChart" width="400" height="400">{{Chart}}</canvas>

      </div>
  </div>
</div>
